.steps-header-mdl {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  color: #000;
}

.steps-header-mdl strong {
  font-weight: 600;
  padding-bottom: 15px;
}

.steps-header-mdl label {
  font-weight: 600;
  font-size: 18px;
  color: #33383d;
}

.all-done {
  display: flex;
  flex-direction: column;
}

.all-done span img {
  width: 40px;
}

.all-done strong {
  font-weight: 600;
  font-size: 18px;
}

.fields {
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  padding: 5px;
  background: #e1e1e1;
  margin-bottom: 6px;
}

.hdr {
  background: white;
  border-radius: 10px;
}

.posi {
  top: 12px;
  position: relative;
}

.fname-inp {
  width: 290px;
}

.ftype-inp {
  width: 210px;
}
