.prview-section {
  background: #eff6fb;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.tbl-sct {
  margin: 20px 20px 10px 20px;
}

.act-cont {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  justify-content: center;
}

.tbl-wid {
  width: 100% !important;
}

.th-width-0 {
  width: 10%;
}

.th-width-1 {
  width: 30%;
}

.th-width-2 {
  width: 30%;
}

.th-width-3 {
  width: 30%;
}

.empty-state {
  width: auto;
  background: #ffffff;
  border-radius: 4px;
}

.empty-state__active {
  top: -225px;
  position: relative;
  padding: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.empty-state__icon {
  width: 150px;
  height: 145px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: #f7fafc;
  box-shadow: 0px 2px 1px #e1e3ec;
}

.empty-state__icon img {
  width: 170px;
}

.empty-state__message {
  color: #009684;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.85rem;
}

.strc-prview-section {
  background: #eff6fb;
  border: 1px solid #88c6f3;
  border-radius: 10px;
  margin: 20px;
}

.collapsible-header {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.collapsible-header span {
  transition: transform 0.3s ease;
}

.rotate-icon {
  transform: rotate(180deg);
}

.cln-hd-left-fs {
  display: flex;
  column-gap: 15px;
  top: 10px;
  align-items: center;
  position: relative;
}

.cln-hd-left-fs h2 {
  font-size: 25px;
  width: calc(100% - 110px);
}

.col-width-30 {
  width: 30%;
  min-width: 100%;
  height: 50px;
  min-height: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: top; 
}

.fit-text {
  white-space: pre-wrap; 
  word-break: break-word; 
  display: block;
}
